project: pearsontechnology
environments:
  - name: sample-app-environment
    namespace: sample-app
    deployment:
      method: rolling-upgrade
    services:
      - name: front
        external_url: front.sample-app.domain
        ssl: false
        port: 80
        env:
          - name: APP_PORT
            value: 80
          - name: BACK_END
            value: back.sample-app.svc.cluster.local
        limits:
           cpu: 500m
           memory: 100Mi
      - name: back
        port: 80
        env:
          - name: APP_PORT
            value: 80
        limits:
           cpu: 500m
           memory: 100Mi
        volumes:
          - name: vol1
            size: 35Gi
            path: /tmp/asd
            modes: ReadWriteOnce
      - name: couchbase
        database_type: couchbase
        application: couchbase
        version: 5.0.1
        replicas: 2
        volumes:
          - name: var
            size: 5Gi
            path: /opt/couchbase/var
            modes: ReadWriteOnce
          - name: data
            size: 50Gi
            path: /opt/couchbase/var/lib/couchbase/data
            modes: ReadWriteOnce
          - name: index
            size: 10Gi
            path: /opt/couchbase/var/lib/couchbase/index
            modes: ReadWriteOnce
        
